{% extends "layout.html" %}

{% block title %}Analyse des négations{% endblock %}

{% block pageTitle %}Analyse des négations{% endblock %}

{% block pageSubtitle %}
Cette page permet de lancer le processus de traitement des négations sur des fichiers _VB.eaf pour obtenir des fichiers _VC.eaf
{% endblock %}


{% block content %}
<form action="/runneg" method="post" enctype="multipart/form-data">
    <input type="file" name="negation_file" size="50" multiple required/>
    <br>
    <input type="checkbox" id="neg_pas" name="type_neg" value="neg_pas">
    <label for="neg_pas">Seulement négations en 'pas'</label>
    <br>
    <input type="checkbox" id="neg_tout" name="type_neg" value="neg_tout">
    <label for="neg_tout">Négations avec tout mot2</label>
    <br>
    <input class="mt-2 btn btn-primary" type="submit" value="Lancer" />
</form>
{% endblock %}
