nav {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  color: #00aa99;
  font-variant: small-caps;
}

.page-subtitle {
  background-color: #00aa99 !important;
  color: white !important;
}

.btn-primary {
  background-color: #ffd533 !important;
  border-color: #ffd533 !important;
  color:black !important;
}

.btn-danger{
  background-color: #cc2b33 !important;
  border-color: #cc2b33 !important;
}


.liaison-table-container {
    max-height: 250px;
    overflow-y: auto;
    border: 2px solid black;
    padding: 5px;
    margin-top: 20px;
}


.liaison-table {
    border: 1.5px solid black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}


.liaison-table th {
    font-size: 14px;
    font-weight: bold;
    background-color: #f8f9fa;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    line-height: 1.2;
}

.liaison-table td {
    border: 1px solid black;
    padding: 4px;
    font-size: 14px;
}

.liaison-table .liaison-type {
    text-align: center;
}

.liaison-table .contexte-gauche {
    text-align: right;
}

.liaison-table .contexte-droite {
    text-align: left;
}

.liaison-table .liaison-text {
    font-weight: bold;
}

.stats-table-container {
    max-height: 250px;
    overflow-y: auto;
    border: 2px solid black;
    padding: 5px;
    margin-top: 20px;
}

.stats-table {
    border: 1.5px solid black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.stats-table th {
    font-size: 14px;
    font-weight: bold;
    background-color: #f8f9fa;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    line-height: 1.2;
}

.stats-table td {
    border: 1px solid black;
    padding: 4px;
    font-size: 14px;
    text-align: center;
}

.stats-table .mot-col,
.stats-table .freq-col,
.stats-table .percent-col {
    text-align: center;
}

.stats-table .mot1-mot2-col {
    font-weight: bold;
}

.liaison-table th:first-child,
.liaison-table td:first-child {
    min-width: 500px;
    max-width: 700px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: left;
}

.liaison-table th:nth-child(2),
.liaison-table td:nth-child(2) {
    min-width: 80px;
    max-width: 120px;
    text-align: center;
}

.stats-table th:nth-child(7),

.stats-table td:nth-child(7) {
    text-align: right;
}
.stats-table th:nth-child(8),
.stats-table td:nth-child(8) {
    text-align: left;
}
