{% extends "layout.html" %}

{% block title %}Enrichissement de fichiers{% endblock %}

{% block pageTitle %}Enrichissement de fichiers{% endblock %}

{% block pageSubtitle %}
Cette page permet de lancer le processus d'enrichissement sur des fichiers _VA.eaf pour obtenir des fichiers _VB.eaf
{% endblock %}

{% block content %}
  <form id="enrichForm" action="/runenrich" method="post" enctype="multipart/form-data">
      <input type="file" name="enrich_file" size="50" multiple required/>
      <br/>
      <input class="mt-2 btn btn-primary" type="submit" value="Lancer" />
  </form>

  <div id="loadingMessage" style="display: none; margin-top: 10px; color: green; font-weight: bold;">
      En cours d'analyse...
  </div>

  <script>
      document.getElementById("enrichForm").addEventListener("submit", function() {
          document.getElementById("loadingMessage").style.display = "block";
      });
  </script>
{% endblock %}
