{% extends "layout.html" %}

{% block title %}Analyse des liaisons{% endblock %}

{% block pageTitle %}Analyse des liaisons{% endblock %}

{% block pageSubtitle %}
Cette page permet de lancer le processus d'analyse des liaisons sur des fichiers _VC.eaf pour obtenir des fichiers _VD.eaf
{% endblock %}

{% block content %}
<form action="/runliai" method="post" enctype="multipart/form-data">
    <input type="file" name="liaison_file" size="50" multiple required/>

    <br>
    <input type="radio" name="type_liai" value="LF_LEX" id="LF_LEX" checked>
    <label for="neg_pas">LF_LEX</label><br>
    <input type="radio" name="type_liai" value="LF_MOR" id="LF_MOR">
    <label for="neg_tout">LF_MOR</label><br>
    
    <input class="mt-2 btn btn-primary" type="submit" value="Lancer" />
</form>
{% endblock %}
